@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/* Basic */
	html {
		box-sizing: border-box;
	}
	*, *:before, *:after {
		box-sizing: inherit;
	}


		body.is-preload *, body.is-preload *:before, body.is-preload *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

	body {
		color: #a2a2a2;
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-size: 16pt;
		font-weight: 400;
		line-height: 1.75em;
	}

	a {
		-moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		border-bottom: dotted 1px;
		color: #ddd;
		text-decoration: none;
	}

		a:hover {
			border-bottom-color: transparent;
			color: #333 !important;
			text-decoration: none;
		}

	strong, b {
		color: #787878;
		font-weight: 400;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 0 0;
		font-size: 14pt;
	}

	h1{
		color: #787878;
		font-weight: 400;
		margin: 0 0 -1em 0;
		text-decoration: none;
		font-size: 2em;
		line-height: 3em;
		position: relative;
	}


/* Image */

	.image {
		border-radius: 0.35em;
		border: 0;
		display: inline-block;
		position: relative;
	}


		.image.left {
			float: left;
			margin: 0 1.5em 1em 0;
			top: 0.25em;
		}

		.image.right {
			float: right;
			margin: 0 0 1em 1.5em;
			top: 0.25em;
		}

		.image.left, .image.right {
			max-width: 40%;
		}

			.image.left img, .image.right img {
				width: 100%;
			}

		.image.fit {
			display: block;
			margin: 0 0 2em 0;
			width: 100%;
		}

			.image.fit img {
				width: 100%;
			}

		.image.avatar {
			border-radius: 100%;
		}

			.image.avatar:before {
				display: none;
			}

			.image.avatar img {
				border-radius: 100%;
				width: 100%;
			}

/* List */

	ol {
		list-style: decimal;
		margin: 0 0 2em 0;
		padding-left: 1.25em;
	}

		ol li {
			padding-left: 0.25em;
		}

	ul {
		list-style: disc;
		margin: 0 0 2em 0;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}

		.github-icon {
            width: 30px; /* Adjust the size as needed */
            height: auto;
        }




/* Main */

	.main {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		padding-right: 16em;
		padding-left: 16em;
		padding-top: 3em;
	}

	.content {
		flex: 2;
	}
	.info {
		margin-top: 0em;
		margin-left: 1em;
		padding: 1em; 
		font-size: 28pt;
	}
	.photo {
		flex: 0 0 20%;
		margin-right: 10px;
	}
	.column {
		font-size: 16pt;
		list-style-type: none; /* Remove default list styling */
		padding-left: 0; /* Remove default padding */
		margin-left: 4em; /* Add margin to move content slightly to the right */
		margin-top: 5em;
	}

	img {
		max-width: 90%;
		height: auto;
	}
	


	nav {
	color: #ddd;
	padding: 0rem;
	text-align: center;
	position: relative;
	border-radius: 0px;
	display: flex;
	justify-content: center; /* Center items horizontally */
	align-items: center; /* Center items vertically */
}

	
	nav .nav-buttons {
		list-style: none;
		padding: 0;
		margin: 0;
		overflow: hidden;
		color: #fff;
		display: flex;
	}
	
	nav .nav-buttons li {
		display: inline-block;
		margin-left: 3rem; /* Add margin between buttons */
	}
	
	nav .nav-buttons li a {
		color: #333; /* Set text color to white */
		text-decoration: none;
		padding: 0.5rem 1rem; /* Add padding */
		border-radius: 0px; /* Rounded corners for buttons */
		font-size: 1.2rem; /* Change font size */
		transition: background-color 0.3s; /* Smooth transition for hover effect */
	}
	
	nav .nav-buttons li a:hover {
		background-color: #ddd; /* Optional: change color on hover for better visibility */
		color: #333; /* Change text color on hover for contrast */
	}

	.nav-line {
		border: 0;
		border-top: 2px solid #333;
		width: 50%;
		margin-left: 28em;
	}
	
		header.major {
			text-align: center;
		}
		header.major nav {
			margin-top: 1rem;
		}
		header.major p {
			margin: 0 0 0 0;
			font-size: 10pt;
		}

		header.minor {
			text-align: center;
			margin-left: -10em;
		}

		header.minor nav {
			margin-top: 1rem;
		}
		header.minor p {
			margin: 0 0 0 0;
			font-size: 10pt;
		}
